<div class="container">

<!--  Movie list-->
  <h2>Movies</h2>
  <table class="table table-striped table-hover mb-5">

    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let movie of movies">
      <td>{{movie.id}}</td>
      <td>{{movie.title}}</td>
    </tr>
    </tbody>

  </table>

<!--Movie Form-->
  <h2>Add new movie</h2>
  <form [formGroup]="addMovieForm" (ngSubmit)="onSubmit()" class="mb-5">
    <div class="mb-3">
      <input formControlName="title" type="text" class="form-control" id="title" placeholder="Type title...">
    </div>
    <button class="btn btn-primary text-white mb-2" [disabled]=addMovieForm.invalid>Save</button>
  </form>
</div>

